{
    "extends": "airbnb",
    "settings": {
        "import/resolver": {
          "alias": {
            "map": [
              ["@", "./src"],
              ["@root', './"]
            ],
            "extensions": [".js", ".jsx"]
          }
        }
      }
}
  

